.root {
  @apply bg-palette-dark text-palette-paleblue cursor-pointer inline-flex px-10 rounded-full leading-6  transition ease-in-out duration-150 shadow-sm font-semibold text-center justify-center uppercase py-4 border border-transparent items-center;
}

.root:hover {
  @apply bg-palette-main text-white border border-white;
}

.root:focus {
  @apply outline-none ring-2 ring-focus ring-opacity-50;
}

.root[data-active] {
  @apply bg-button-active;
}

.loading {
  @apply bg-loading text-palette-paleblue border-orange cursor-not-allowed;
}

.slim {
  @apply py-2 transform-none normal-case;
}

.disabled,
.disabled:hover {
  @apply text-dark border-orange bg-button-disabled cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
