@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: "DIN Alternate", sans-serif;
    font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  @apply outline-none ring-2 ring-white ring-opacity-50;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html,
body {

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply text-white bg-palette-dark antialiased;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  height: calc(100vh - 80px);
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
.home__project{
  width:400px!important;
  @apply bg-offwhite
}
.no-ring{
  @apply ring-0
}
.no-ring:focus{
  @apply ring-0
}
.navbar__anim{
  @apply transform duration-500 ease-in-out;
}
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-palette-light
}

/* Handle */
::-webkit-scrollbar-thumb {


  @apply bg-palette-main
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-palette-orange
} 